
<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>Filtros</mat-card-content>
        <form #filteringForm="ngForm">
          <mat-form-field class="example-full-width">
            <mat-label>Fecha inicio</mat-label>
            <input matInput placeholder="Fecha inicio" type="date" #fechaInicioInput="ngModel" [(ngModel)]="fecha_inicio" name="fechaInicioName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha fin</mat-label>
            <input matInput placeholder="Fecha fin" type="date" #fechaFinInput="ngModel" [(ngModel)]="fecha_fin" name="fechaFinName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Sucursal</mat-label>
            <input matInput placeholder="Sucursales" #sucursalInput="ngModel" [(ngModel)]="sucursal" name="sucursalName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Evento</mat-label>
            <input matInput placeholder="Evento" #eventoInput="ngModel" [(ngModel)]="evento" name="eventoName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>T.Pago</mat-label>
            <input matInput placeholder="T.Pago" #tPagoInput="ngModel" [(ngModel)]="t_pago" name="tPagoName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo Doc</mat-label>
            <input matInput placeholder="Tipo Doc" #tDocInput="ngModel" [(ngModel)]="tipo_doc" name="tDocName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo Op</mat-label>
            <input matInput placeholder="Tipo Op" #tOpInput="ngModel" [(ngModel)]="tipo_op" name="tOpName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Status" #statusInput="ngModel" [(ngModel)]="status" name="statusName">
          </mat-form-field>
          <div class="row">
            <div class="col-12">
              <button mat-raised-button color="primary" id="filter-button-ID">Filtrar <mat-icon>filter_alt</mat-icon></button>
              <button mat-raised-button color="primary" id="filter-off-button-ID" (click)="resetForm(filteringForm)">Limpiar <mat-icon>filter_alt_off</mat-icon></button>
            </div>
          </div>
        </form>

      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary" id="export-button-ID">Exportar <mat-icon>picture_as_pdf</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>PDF</button>
          <button mat-menu-item>CSV</button>
          <button mat-menu-item>XLSX</button>
        </mat-menu>
        <mat-form-field class="my-3">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Status" (keyup)="applyFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
          <!-- Nro. Column -->
          <ng-container matColumnDef="nro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro.</th>
            <td mat-cell *matCellDef="let row">{{row.nro}}</td>
          </ng-container>

          <!-- Fecha Creación Column -->
          <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Creación</th>
            <td mat-cell *matCellDef="let row">{{row.fecha_creacion | date: 'dd-MM-yyyy'}}</td>
          </ng-container>

          <!-- T. Pago Column -->
          <ng-container matColumnDef="t_pago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>T. Pago</th>
            <td mat-cell *matCellDef="let row">{{row.t_pago}}</td>
          </ng-container>

          <!-- T. Pago Column -->
          <ng-container matColumnDef="evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
            <td mat-cell *matCellDef="let row">{{row.evento}}</td>
          </ng-container>

          <!-- T. Pago Column -->
          <ng-container matColumnDef="sucursal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
            <td mat-cell *matCellDef="let row">{{row.sucursal}}</td>
          </ng-container>

          <!-- Tipo Doc Column -->
          <ng-container matColumnDef="t_doc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Doc</th>
            <td mat-cell *matCellDef="let row">{{row.t_doc}}</td>
          </ng-container>

          <!-- Tipo Op Column -->
          <ng-container matColumnDef="t_op">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Op</th>
            <td mat-cell *matCellDef="let row">{{row.t_doc}}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip [style.backgroundColor]="row.status > 5 ? '#28a745' : row.status > 3 ? '#ffc107': '#dc3545'">
                  {{ row.status > 5 ? 'Aprobado' : row.status > 3 ? 'Pendiente': 'Rechazado' }}
                </mat-chip>
              </mat-chip-list>

              <!-- {{row.status}} -->
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button>
                <mat-icon> mail </mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>cloud_download</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>upload</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            class="mat-elevation-z8"
            aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>





