mat-form-field {
  width: 100%;
}

mat-card-content {
  font-weight: bold;
}

mat-chip {
  color: white !important;
}

mat-cell {
  min-width: 110px;
}

#export-button-ID {
  width: 100%;
	align-self: center;
}

#filter-off-button-ID {
  margin-left: 16px;
}

#export-button-ID {
  margin-top: 15px;
}

#filter-button-ID, #filter-off-button-ID, #export-button-ID {
  background-color: #3f51b5 !important;
  color: white !important;
}

.full-width-table {
  width: 100%;
}

.actions-column {
  display: flex;
}

.custom-mat-icon {
  height: 45px;
  width: 55px;
  font-size: 48px;
}

.filter-buttons-container {
  margin-top: 5px;
}

::ng-deep .tooltip-uppercase {
  font-size: small;
}

::ng-deep .mat-sort-header-container {
	justify-content: center;
}

.actions-column {
  margin-top: 7px;
  padding-left: 7px;
}

/*********************************** Report Style ****************************************/

h2, h3 {
  text-align: center;
}

span {
  font-weight: bolder;
}

.row-filter {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 1rem;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.filter-box {
	border: 3px solid #009879;
	width: 65rem;
	margin: auto;
}

.container {
  max-width: 1900px;
}
