mat-form-field {
  width: 100%;
}

mat-card-content {
  font-weight: bold;
}

mat-chip {
  color: white !important;
}

#export-button-ID {
  width: 100%;
	align-self: center;
}

#filter-off-button-ID {
  margin-left: 16px;
}

#export-button-ID {
  margin-top: 15px;
}

#filter-button-ID, #filter-off-button-ID, #export-button-ID {
  background-color: #3f51b5 !important;
  color: white !important;
}

.full-width-table {
  width: 100%;
}

.actions-column {
  display: flex;
}

.custom-mat-icon {
  height: 45px;
  width: 55px;
  font-size: 48px;
}

.filter-buttons-container {
  margin-top: 5px;
}

::ng-deep .tooltip-uppercase {
  font-size: small;
}
