<!-- <div class="container">
    <div class="row">
        <div class="col-8">
            <label for="ced">
                Cédula: </label>
            <input type="text" id="ced" class="form-control" placeholder="Cédula: 8-888-8888" [(ngModel)]="solicitud" />
        </div>
        <div class="col">
            <button class="btn btn-primary btn-block waves-effect" type="button" style="cursor: pointer;"
                style="margin-top: 25px;" [disabled]="flag_envio" (click)="buscarCedula()"
                [disabled]="solicitud == ''">BUSCAR</button>
        </div>
    </div>
</div> -->
<mat-toolbar color="primary" class="d-flex justify-content-center mb-5">
  <app-header-page [title]="'Selección Mesa'"></app-header-page>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-form-field>
        <mat-label name="sel_provincia">Elija una Provincia</mat-label>
        <mat-select
          #prov_elem
          disableOptionCentering
          (selectionChange)="setProvincia(prov_elem.value)"
          required
        >
          <mat-option *ngFor="let p of provincias" [value]="p.id_provincia">
            {{ p.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-6">
      <mat-form-field>
        <mat-label name="dist_provincia">Elija un Distrito</mat-label>
        <mat-select
          disableOptionCentering
          [(ngModel)]="selectedValueDistrito"
          #dist_elem
          (selectionChange)="setDistrito(dist_elem.value)"
          required
        >
          <mat-option *ngFor="let d of distritos" [value]="d.id_distrito">
            {{ d.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-form-field>
        <mat-label name="sel_corregimiento">Elija un Corregimiento</mat-label>
        <mat-select
          [(ngModel)]="selectedValueCorregimiento"
          #corr_elem
          (selectionChange)="setCorregimiento(corr_elem.value)"
          required
        >
          <mat-option
            *ngFor="let c of corregimientos"
            [value]="c.id_corregimiento"
          >
            {{ c.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-6">
      <mat-form-field>
        <mat-label name="sel_centro">Elija un Centro de Votación</mat-label>
        <mat-select
          #centro_elem
          [(ngModel)]="selectedValueCentro"
          (selectionChange)="setCentro(centro_elem.value)"
          required
        >
          <mat-option *ngFor="let o of centros" [value]="o.id_centro">
            {{ o.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-form-field>
        <mat-label name="sel_mesa">Elija una mesa</mat-label>
        <mat-select
          #mesa_elem
          [(ngModel)]="selectedValueMesa"
          (selectionChange)="setMesa(mesa_elem.value)"
          required
        >
          <mat-option *ngFor="let m of mesas" [value]="m.id_mesa">
            {{ m.pin }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="btnRegistrar()"
      >
        REGISTRAR MESA
      </button>
    </div>
  </div>
</div>
