<app-loading-page *ngIf="loadingPage"></app-loading-page>

<div class="content-page" *ngIf="!loadingPage">
    <div class="row">
        <div class="col-12 col-sm-6">
            <app-header>
            </app-header>
        </div>
        <div class="col-12 col-sm-6">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </span>
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterText">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="text-center">
                        <tr>
                            <th>Menu</th>
                            <th>Estado</th>
                            <th>Crear</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                            <th>Ver</th>
                            <th>Principal</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dataList.length > 0">
                        <tr
                            *ngFor="let a of dataList | filterBy: ['menu']: filterText | paginate: { itemsPerPage: rowsPage, currentPage: p }">
                            <td>{{a.menu}}
                            </td>
                            <td class="text-center col-1 pointer" (click)="option(a.acc_menu_id, 'estado')"
                                [ngClass]="{'bg-primary text-light': a.estado == 1, 'text-muted': a.estado == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                            <td class="text-center col-1 pointer" (click)="option(a.acc_menu_id, 'crear')"
                                [ngClass]="{'bg-primary text-light': a.crear == 1, 'text-muted': a.crear == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                            <td class="text-center col-1 pointer" (click)="option(a.acc_menu_id, 'editar')"
                                [ngClass]="{'bg-primary text-light': a.editar == 1, 'text-muted': a.editar == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                            <td class="text-center col-1 pointer" (click)="option(a.acc_menu_id, 'eliminar')"
                                [ngClass]="{'bg-primary text-light': a.eliminar == 1, 'text-muted': a.eliminar == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                            <td class="text-center col-1 pointer" (click)="option(a.acc_menu_id, 'ver')"
                                [ngClass]="{'bg-primary text-light': a.ver == 1, 'text-muted': a.ver == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                            <td *ngIf="a.padre != 0"></td>
                            <td class="text-center col-1 pointer" *ngIf="a.padre == 0" (click)="option(a.acc_menu_id, 'principal')"
                                [ngClass]="{'bg-primary text-light': a.principal == 1, 'text-muted': a.principal == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo">
                    </pagination-controls>
                </div>
                <div class="text-center">
                    <p>{{messageApi}}</p>
                </div>
            </div>
        </div>
    </div>
</div>