.bg-login-content{
    background-image: linear-gradient(0deg, rgb(0 112 155 / 30%) 10%, rgb(123 235 255 / 30%) 100%), url(/assets/img/bg/corp-bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.spiner-pagina {
    width: 10rem;
    height: 10rem;
}

.custom-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 34%;
  z-index: 1030;
}

.login-card {
  max-width: 400px;
  height: 25rem;
  padding: 0;
  margin: 0 25px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  color: white;
  margin-top: -19rem;
  border: solid 1px #1a99ce;
}

.custom-container {
  margin: auto;
  background-image: url('/assets/img/bg/bg-facturacion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  width: 100%;
  background-color: #1880ad !important;
  color: white !important;
}

.custom-mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: white;
}

.image-logo-container {
  margin-bottom: 3rem;
  margin-top: 1rem;
  overflow: hidden;
}

.image-logo-container img {
  height: 4rem;
  width: 100%;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-label {
  color: wheat;
}

mat-card {
  padding: 0;
}

.container .row:first-child {
  background-color: white;
  border-radius: 15px 15px 0 0;
  margin-bottom: 44px;
  height: 6rem;
  border-bottom: 1px solid #1880ad;
}

.container .row:nth-child(3) {
  padding: 0 1rem;
}

.container .row:nth-child(4) {
  padding: 0 1rem;
}

@media (min-width: 1200px) {

  mat-card-header {
    margin: 20px 0px;
    margin-bottom: 2rem;
  }
  .custom-container {
    background-image: url('/assets/img/bg/bg-facturacion.png');
  }

  /* .custom-mat-icon {
    margin-top: 8rem;
  } */

  .login-card {
    max-width: 300px;
    height: 450px;
    padding: 0;
    margin: 0 25px;
    border-radius: 15px;
    margin-top: -12rem;
    background-color: rgba(255,255,255,0.1);
    color: white;
  }

  .mb-6 {
    margin-bottom: rem;
  }

}

@media (min-width: 1600px) {

  .login-card {
    margin-top: 1rem;
  }

}
