.bg-login-content{
    background-image: linear-gradient(0deg, rgb(0 112 155 / 30%) 10%, rgb(123 235 255 / 30%) 100%), url(/assets/img/bg/corp-bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.spiner-pagina {
    width: 10rem;
    height: 10rem;
}

.custom-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 34%;
  z-index: 1030;
}

.login-card {
  max-width: 400px;
  height: 300px;
  padding: 1rem 2rem;
}

.custom-container {
  margin: auto;
  /* background-image: url('/assets/img/bg/login_bg.jpg'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #fbc031;
}

button {
  background-color: var(--custom-yellow);
}

.custom-mat-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  color: var(--custom-yellow);
}

.header-image {
  text-align: end;
}
