<div class="custom-container">
  <mat-grid-list cols="1" rowHeight="850px">
    <mat-grid-tile>
      <mat-card class="login-card">
        <form
          class="mb-2"
          [formGroup]="formulario"
          (ngSubmit)="btnAuth()"
          autocomplete="off"
          novalidate
        >
        <div class="container">
          <div class="row">
            <div class="col-12">
              <mat-card-header>
                <mat-icon class="custom-mat-icon">key</mat-icon>
              </mat-card-header>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-card-content>
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Usuario</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="usuario"
                    id="user"
                    formControlName="user"
                  />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Contraseña</mat-label>
                  <input
                    type="password"
                    matInput
                    placeholder="Contraseña"
                    id="pwd"
                    formControlName="pwd"
                  />
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </mat-card-content>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-card-actions class="text-center">
                <button
                  mat-raised-button
                  type="submit"
                  [disabled]="!formulario.valid"
                >
                  Entrar
                </button>
              </mat-card-actions>
            </div>
          </div>
        </div>
        </form>
      </mat-card>
      <div class="alert alert-warning" role="alert" *ngIf="WarnMostrar">
        {{ WarnMensaje }}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
