<mat-toolbar color="primary" class="d-flex justify-content-center mb-5">
  <app-header-page [title]="'Conteo de Candidatos'"></app-header-page>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div *ngIf="selected_mesa" class="text-center">
      <h2>{{ selected_mesa }}</h2>
      <br />
    </div>
  </div>
  <br />
  <form #formConteo="ngForm" (ngSubmit)="btnGuardar(formConteo)">
    <div class="row mb-4" *ngFor="let candidato of dataList">
      <div class="col-12 col-sm-2 col-xl-2 mb-4 custom-w-10">
        <!-- <div class="img-container"> -->
        <div class="d-flex align-items-center justify-content-center">
          <img [src]="candidato.foto_candidato" class="img-fluid" />
        </div>
      </div>
      <div
        class="col-12 col-sm-1 col-xl-1 d-flex align-items-center justify-content-center d-md-flex justify-content-start"
      >
        <!-- <div class="d-flex align-items-center"> -->
        <h1 *ngIf="candidato.id <= 8">
          {{ candidato.id }}
        </h1>
        <!-- </div> -->
      </div>
      <div class="col-12 col-sm-9 col-xl-9">
        <mat-form-field class="w-100">
          <mat-label>{{ candidato.nombre }}</mat-label>
          <input
            matInput
            type="number"
            name="{{ candidato.nombre }}"
            [(ngModel)]="candidato.votos"
            #candidatoInput="ngModel"
            [required]="candidato.id > 8"
            [max]="500"
            [min]="1"
          />
        </mat-form-field>
        <div
          *ngIf="
            candidatoInput.invalid &&
            (candidatoInput.dirty || candidatoInput.touched)
          "
        >
          <div *ngIf="candidatoInput.errors?.['required']">
            <span style="color: red">El campo es requerido</span>
          </div>
          <div *ngIf="candidatoInput.errors?.['min']">
            <span style="color: red">La cantidad debe ser mayor a 0</span>
          </div>
          <div *ngIf="candidatoInput.errors?.['max']">
            <span style="color: red">La cantidad no puede ser mayor a 500</span>
          </div>
        </div>
        <hr class="d-sm-none" />
      </div>
    </div>
    <div></div>
    <div class="container">
      <br />
      <div class="row">
        <div class="col text-center mb-4">
          <button mat-raised-button color="primary" type="submit">
            REGISTRAR MESA
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
