.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

:host ::ng-deep ngx-charts-advanced-pie-chart .advanced-pie-legend .total-label {
  font-size: 24px;
  margin-bottom: 19px;
  margin: 20px;
}

:host ::ng-deep ngx-charts-advanced-pie-chart .legend-items {
  overflow: visible !important;
}
